<!-- Show all assignments for one course -->

<div class="container">
  <h4><%= link_to "#{@course.name} #{@course.number}", course_path(@course) %></h4>
  <div class="row">
    <h5 class="col m6">ASSIGNMENTS</h5>
    <% if current_teacher %>
      <div class="make-new col m6">
        <%= link_to "Make a new Assignment", new_assignment_path(@course), :class =>"btn teacher-button-style right" %>
      </div>
    <% end %>
  </div>
  <% @assignments.each do |a| %>
  <div class ="row assignments">
    <div class="row">
      <div class="col s8">
        <%= link_to "#{a.title}", assignment_path(a) %>
      </div>
      <div class="col s4">
        <%= a.due_date.strftime("Due on: %m/%d/%Y") %>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <%= truncate a.instructions %>
      </div>
      <div class="homework-submission col s4">
        <% if current_student && current_student.submissions.find_by(assignment_id: a.id) %>
          <%= link_to "Edit Your Submission", submission_path(current_student.submissions.find_by(assignment_id: a.id)) %>
        <% elsif current_student %>
          <%= link_to "Submit", new_submission_path(a), class:"btn center  green-submit-style"%>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
