<!-- Show one Assignment -->
<div class="container">
  <h4><%= link_to "#{@assignment.course.name} #{@assignment.course.number}", course_path(@assignment.course) %></h4>
  <div class="row">
    <div class="col m4 center">
      <h4><%= @assignment.title %></h4>
        <h5><%= @assignment.due_date.strftime("Due on: %m/%d/%Y") %><h5>
      <% if current_student %>
      <div class="homework-submission">
        <% if current_student.submissions.find_by(assignment_id: @assignment.id) %>
          <%= link_to "You've submitted", submission_path(current_student.submissions.find_by(assignment_id: @assignment.id)), class:"btn center form-submit-style" %>
        <% else %>
          <%= link_to "submit homework", new_submission_path(@assignment), class:"btn center form-submit-style"%>
        <% end %>
      </div>
      <% elsif current_teacher %>
        <div class="row">
          <%=link_to "Edit", edit_assignment_path(@assignment), class:"btn center teacher-button-style" %>
        </div>
      <% end %>
    </div>
    <div class="col m8">
      <br>
      <div class="row">
        <div class="col m12 assignments">
          <h5>Instructions:</h5>
          <p><%= @assignment.instructions %></p>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <div class="left">
            Estimated duration: <%= @assignment.duration %>
          </div>
          <div class="right">
            <%= @assignment.assign_date.strftime("Assigned on: %m/%d/%Y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
