<!-- Show one Assignment -->

<div class="container">
  <h4><%= link_to "#{@assignment.course.name} #{@assignment.course.number}", course_path(@assignment.course) %></h4>
  <div class="row">
    <div class="col s8">
      <h4><%= @assignment.title %></h4>
    </div>
    <div class="col s3 offset-s1">
      <h5 class="right"><%= @assignment.due_date.strftime("Due on: %m/%d/%Y") %><h5>
    </div>
  </div>
  <div class="row">
    <div class="col m8 assignments">
      <h5>Instructions:</h5>
      <p><%= @assignment.instructions %></p>
    </div>
  </div>
  <div class="row">
    <div class="col m8">
      <div class="left">
        <%= @assignment.duration %>
      </div>
      <div class="right">
        <%= @assignment.assign_date.strftime("Assigned on: %m/%d/%Y") %>
      </div>
    </div>
  </div>

</div>
