<h1>HI I'M SHIV!</h1>
<h4>student show page</h4>

<%= "First: #{@student.first_name}" %>
<%= "Last: #{@student.last_name}" %>
<%= "User Name: #{@student.user_name}" %>
<%= "Email: #{@student.email}" %>
<%= "Slack: #{@student.slack}" %>
<%= "Github: #{@student.github}" %>
<%= "Linkedin: #{@student.linkedin}" %>
<%= "Linkedin: #{@student.linkedin}" %>
<img src="<%= @student.profile_image %>" alt="profile">
