<!-- Student Profile Page -->

<div class="container">
  <br>
  <div class="row">
    <div class="col s14 summary-style">
      <div class="dev-bio-info">
        <img src="<%= @student.profile_image %>" alt="profile" class="profile_image">
      </div>
      <div class="dev-bio-info">
        <div>
          <table class="dev-table">
            <tr>
              <td><b>Name: </b></td>
              <td><%=@student.first_name %> <%=@student.last_name%></td>
            </tr>
            <tr>
              <td><b>User Name: </b></td>
              <td><%=@student.user_name %></td>
            </tr>
            <tr>
              <td><b>Email: </b></td>
              <td><%=@student.email %></td>
            </tr>
            <tr>
              <td><b>Slack: </b></td>
              <td><%= @student.slack %></td>
            </tr>
            <tr>
              <td><b>Github: </b></td>
              <td><%= link_to @student.github, "https://github.com/#{@student.github}" %></td>
            </tr>
            <tr>
              <td><b>LinkedIn: </b></td>
              <td><%= link_to @student.linkedin, "https://www.linkedin.com/#{@student.linkedin}" %></td>
            </tr>
          </table>
          <p>
            <% if @student == current_student %>
            <%= link_to "Edit Profile", edit_student_path(current_student)%>
            <% end %>
          </p>
        </div>
      </div>
    </div>

<!-- Card with Tabs for each course -->
    <div class="col m8 offset-s1 dev-course-card">
      <div class="col s11 offset-m3">
        <div class="col m12">
          <div class="card-content">
            <h6 class="dev-card-header">Course Assignment Overview<% if @student.courses.count > 1 %>s<% end %></h6>
          </div>
          <div class="card-tabs">
            <!-- Code that establishes tabs for each course -->
            <ul class="tabs tabs-fixed-width">
              <% @student.courses.each do |c| %>
                <li class="tab"><%=link_to "#{c.name} #{c.number}", "##{c.id}"%></li>
              <% end %>
            </ul>
            </br>
          </br>
              <% @student.courses.each do |c| %>
                <div class="card-content">

                  <!-- Code for content of each course card -->
                  <div id="<%= c.id %>">
                    <div>
                      <div class="row">

                        <div class="col m6">
                          <h5><%= link_to "View Course #{c.name} #{c.number}", course_path(c) %></h5>
                        </div>

                        <div class="col m6 right-align">
                          <h6><%= link_to "Schedule", "#{c.github}", class: "waves-effect waves-light btn green" %></h6>
                        </div>
                      </div>
                    </div>

                    <h5><%= link_to "Assignments:", assignments_path(c) %></h5>
                    <hr>

                    <div class="row">
                      <div class="col s12">

                        <% c.assignments.order(:assign_date).reverse.each do |a| %>
                          <% if a.visible === true  %>
                            <div class ="row assignments">
                              <!-- Assignment Title and Date -->
                              <div class="col s6 left-align">
                                <h6><%= link_to "#{a.title}", assignment_path(a) %></h6>
                                <p><%= a.due_date.strftime("Due on: %m/%d/%Y") %></p>
                              </div>
                              <!-- Assignment Submission and Feedback -->
                              <div class="col s6 right-align">
                              <!-- Determines if submitted -->
                                <ul> <!-- This <p> must remain BEFORE the if -->
                                  <% if @submissions.find_by({assignment_id: a.id}) && @display %>
                                    <li>Submitted</li>
                                  <!-- Feedback if provided -->
                                  <% if @submissions.find_by({assignment_id: a.id}).feedback %>
                                    <li><%=link_to "Feedback", feedback_path(@submissions.find_by({assignment_id: a.id}).feedback) %></li>
                                  <% if @submissions.find_by({assignment_id: a.id}).present? %>
                                    <li>Not Submitted</li>
                                  <% end %>
                                  <% end %>
                                  <% end %>
                                </ul>
                              </div>

                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
