<!-- Student Profile Page -->

<div class="container">
  <br>
  <div class="row">
    <div class="col sl4 summary-style">
      <img src="<%= @student.profile_image %>" alt="profile" class="profile_image">
      <div>
        <table>
          <tr>
            <td><b>Name: </b></td>
            <td><%=@student.first_name %> <%=@student.last_name%></td>
          </tr>
          <tr>
            <td><b>User Name: </b></td>
            <td><%=@student.user_name %></td>
          </tr>
          <tr>
            <td><b>Email: </b></td>
            <td><%=@student.email %></td>
          </tr>
          <tr>
            <td><b>Slack: </b></td>
            <td><%= @student.slack %></td>
          </tr>
          <tr>
            <td><b>Github: </b></td>
            <td><%= link_to @student.github, "https://github.com/#{@student.github}" %></td>
          </tr>
          <tr>
            <td><b>LinkedIn: </b></td>
            <td><%= link_to @student.linkedin, "https://www.linkedin.com/#{@student.linkedin}" %></td>
          </tr>
        </table>
        <p>
          <% if @student == current_student %>
          <%= link_to "Edit Profile", edit_student_path(current_student)%>
          <% end %>
        </p>
      </div>
    </div>

<!-- Card with Tabs for each course -->
    <div class="col m8 offset-s1">
      <div class="col s11 offset-m2">
        <div class="card">
          <div class="card-content">
            <p></p>
          </div>
          <div class="card-tabs">

            <!-- Code that establishes tabs for each course -->
            <ul class="tabs tabs-fixed-width">
              <% @student.courses.each do |c| %>
              <li class="tab"><%=link_to "#{c.name} #{c.number}", "##{c.id}"%></li>
              <% end %>
            </ul>
            <div class="card-content grey lighten-4">
              <% @student.courses.each do |c| %>

              <!-- Code for content of each course card -->
              <div id="<%= c.id %>">
                <div class="row">

                  <!-- Assignments -->
                  <p class="col s7">Assignments for <%= link_to "#{c.name} #{c.number}", course_path(c) %>:</p>
                  <% if @display %>
                    <p class="col s2"> Submitted:</p>
                    <p class="col s2"> Feedback:<p>
                  <% end %>
                  <br>
                  <br>
                  <%c.assignments.order(:assign_date).reverse.each do |a|%>
                  <p class="col m8">
                    <%= a.due_date.strftime("%m/%d/%Y") %> -
                    <%=link_to "#{a.title}", assignment_path(a) %>
                  </p>

                  <!-- Determines if submitted -->
                  <p class="col m1"> <!-- This <p> must remain BEFORE the if -->
                    <% if @submissions.find_by({assignment_id: a.id}) && @display %>
                      <i class="tiny material-icons">done</i>
                  </p>
                  <!-- Feedback if provided -->
                  <p class="col m3">
                    <% if @submissions.find_by({assignment_id: a.id}).feedback %>
                      <%=link_to "Feedback", feedback_path(@submissions.find_by({assignment_id: a.id}).feedback) %>
                    <% end %>
                    <% end %>
                  </p> <!-- This </p> must come AFTER the end -->
                  <% end %>
                </div>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
