<h1>HI I'M SHIV!</h1>
<h4>teacher show page</h4>

<%= "First: #{@teacher.first_name}" %>
<%= "Last: #{@teacher.last_name}" %>
<%= "User Name: #{@teacher.user_name}" %>
<%= "Email: #{@teacher.email}" %>
<%= "Slack: #{@teacher.slack}" %>
<%= "Github: #{@teacher.github}" %>
