<!-- Teacher Profile Page -->
<div class="container">

  <!-- Page Row One -->
  <div class="row">

    <!-- Teacher Profile Area -->
    <div class="col sl4 summary-style">
      <div class="dev-bio-info">
        <img src="https://ga-shop-production-herokuapp-com.global.ssl.fastly.net/assets/images/apple-touch-icon_Zb6Ub.png" alt="profile" class="profile_image">
      </div>

      <!-- Profile Information -->
      <div class="dev-bio-info">
        <div>
          <table class="dev-table">
            <tr>
              <td><b>Name: </b></td>
              <td><%=@teacher.first_name %> <%=@teacher.last_name%></td>
            </tr>
            <tr>
              <td><b>User Name: </b></td>
              <td><%=@teacher.user_name %></td>
            </tr>
            <tr>
              <td><b>Email: </b></td>
              <td><%=@teacher.email %></td>
            </tr>
            <tr>
              <td><b>Slack: </b></td>
              <td><%= @teacher.slack %></td>
            </tr>
            <tr>
              <td><b>Github: </b></td>
              <td><%= link_to @teacher.github, "#{@teacher.github}" %></td>
            </tr>
          </table>

          <!-- Edit Profile Button -->
          <p>
            <% if @teacher == current_teacher %>
            <%= link_to "Edit Profile", edit_teacher_path(current_teacher)%>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <!-- End of Teacher Profile Area -->

    <!-- Course Overview Card Tabs -->
    <div class="col m8 offset-s1 dev-course-card">
      <div class="col s11 offset-m3">
        <div class="col m12">

          <!-- Card Title -->
          <div class="card-content">
            <h6 class="dev-card-header">Course Assignment Overview<% if @teacher.courses.count > 1 %>s<% end %></h6>
          </div>

          <!-- Create Course Tabs -->
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <% @teacher.courses.each do |c| %>
                <li class="tab"><%=link_to "#{c.name} #{c.number}", "##{c.id}"%></li>
              <% end %>
            </ul>
            </br>
            </br>

            <!-- Course Content -->
            <% @teacher.courses.each do |c| %>
              <div class="card-content">

                <!-- Course id assign for each tab -->
                <div id="<%= c.id %>">
                  <div class="row">

                    <!-- Course Title -->
                    <div class="col m6">
                      <h5><%= link_to "View Course #{c.name} #{c.number}", course_path(c) %></h5>
                    </div>

                    <!-- Schedule Link -->
                    <div class="col m6 right-align">
                      <h6><%= link_to "Schedule", "#{c.github}", class: "waves-effect waves-light btn green-submit-style" %></h6>
                    </div>
                  </div>

                  <!-- Assignments -->
                  <div>
                    <div class="row">
                      <div class="col m6">
                        <h5><%= link_to "Assignments:", assignments_path(c) %></h5>
                      </div>
                      <div class="col m6 right-align">
                        <h6><%= link_to "Create Assignment", new_assignment_path(c), class: "waves-effect waves-light btn green-submit-style" %></h6>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <br>

                  <div class="row">
                    <div class="col s12">

                      <!-- Display each in reverse order -->
                      <%c.assignments.order(:assign_date).reverse.each do |a|%>
                        <div class ="row assignments">

                          <!-- Assignment Title and Date -->
                          <div class="col s6 left-align">
                            <h6><%= link_to "#{a.title}", assignment_path(a) %></h6>
                            <p><%= a.due_date.strftime("Due on: %m/%d/%Y") %></p>
                          </div>

                        <!-- Determines if released -->
                          <div class="col s6 right-align">
                            <% if a.visible && current_teacher%>
                              <p class="col m6">Released</p>
                            <% elsif current_teacher %>
                              <p class="col m6">Not Released</p>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
