<div class="container">
  <br>
  <div class="row">
    <div class="col sl4 summary-style">
      <img src="https://ga-shop-production-herokuapp-com.global.ssl.fastly.net/assets/images/apple-touch-icon_Zb6Ub.png" alt="profile" class="profile_image">
      <div>
        <table>
          <tr>
            <td><b>Name: </b></td>
            <td><%=@teacher.first_name %> <%=@teacher.last_name%></td>
          </tr>
          <tr>
            <td><b>User Name: </b></td>
            <td><%=@teacher.user_name %></td>
          </tr>
          <tr>
            <td><b>Email: </b></td>
            <td><%=@teacher.email %></td>
          </tr>
          <tr>
            <td><b>Slack: </b></td>
            <td><%= @teacher.slack %></td>
          </tr>
          <tr>
            <td><b>Github: </b></td>
            <td><%= link_to @teacher.github, "#{@teacher.github}" %></td>
          </tr>
        </table>
        <p>
          <% if @teacher == current_teacher %>
          <%= link_to "Edit Profile", edit_teacher_path(current_teacher)%>
          <% end %>
        </p>
      </div>
    </div>

<!-- Card with Tabs for each course -->
  <div class="col m8 offset-s1">
    <div class="col s11 offset-m2">
        <div class="card">
          <div class="card-content">
            <p></p>
          </div>
          <div class="card-tabs">
            <% if @teacher.courses.count > 1 %>
              <h6 class="dev-card-header">Course Assignment Overview<% if @teacher.courses.count > 1 %>s<% end %></h6>
            <% end %>
            <!-- Code that establishes tabs for each course -->
            <ul class="tabs tabs-fixed-width">
              <% @teacher.courses.each do |c| %>
                <li class="tab"><%=link_to "#{c.name} #{c.number}", "##{c.id}"%></li>
              <% end %>
            </ul>
            <div class="card-content grey lighten-4">
              <% @teacher.courses.each do |c| %>


              <!-- Code for content of each course card -->
                <div id="<%= c.id %>">
                  <div class="row">

                  <!-- Course Title -->
                  <h6><%= link_to "#{c.name} #{c.number}", course_path(c) %></h6>

                  <!-- If current_teacher, make new assignment -->
                  <% if current_teacher %>
                    <div class="make-new col m6">
                      <%= link_to "Create a new Assignment", new_assignment_path(c), :class =>"btn green-submit-style right" %>
                    </div>
                  <% end %>

                  <!-- Assignments -->
                  <p class="col s8">Assignments:</p>
                  <% if current_teacher %>
                    <p class="col s4"> Released:</p>
                  <% end %>
                  <br>
                  <br>
                  <%c.assignments.order(:assign_date).reverse.each do |a|%>
                    <p class="col m8">
                    <%= a.due_date.strftime("%m/%d/%Y") %> -
                    <%=link_to "#{a.title}", assignment_path(a) %>
                    </p>

                    <!-- Determines if released -->
                    <% if a.visible && current_teacher%>
                      <p class="col m4">Yes</p>
                    <% elsif current_teacher %>
                      <p class="col m4">No</p>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
