<!-- Show one course -->

<div class="container">
  <div class="row">
    <div class="col m6">
      <h4><%= link_to "#{@course.name} #{@course.number}", course_path(@course) %></h4>
    </div>
      <div class="col m6 right-align">
        <h5><%= link_to "Schedule", "#{@course.github}", class: "waves-effect waves-light btn red" %></h5>

      </div>
  </div>
  <div class="row">
    <div class="col m7">
      <h5><%= link_to "Assignments:", assignments_path(@course) %></h5>
      <hr>

      <% @course.assignments.each do |a| %>
        <% if a.visible === true  %>
          <div class ="row hoverable assignments">
            <div class="col s8">
              <h6><%= link_to "#{a.title}", assignment_path(a) %></h6>
            </div>
            <div class="col s3 offset-s1">
              <%= a.due_date.strftime("Due on: %m/%d/%Y") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col m5">
      <div class="row">
        <div class="col s6 ">
          <h5><%= link_to "Students:", students_path(@course) %></h5>
          <hr>
          <ol>
          <% @course.students.each do |s| %>
               <li ><%= link_to "#{s.first_name} #{s.last_name[0]}", student_path(s) %></li>
          <% end %>
        </ol>
        </div>
        <div class="col s6">
          <h5><%= link_to "Teachers:", teachers_path(@course) %></h5>
          <hr>
          <ol>
          <% @course.teachers.each do |t| %>
            <li><%= link_to "#{t.first_name} #{t.last_name[0]}", teacher_path %></li>
          <% end %>
        </ol>
        </div>
      </div>
 <!-- Teachers -->

    </div>
    <!-- <h5><%= link_to "Teachers:", teachers_path(@course) %></h5> -->
  </div>
  <h5>Feedback:</h5>
  <hr>
  <div class="row hoverable feedbacks">
    <div class="col m8">
      Feedback for:
    </div>
    <div class="col m3">
      Score:
    </div>
    <% if current_student %>
      <%  current_student.submissions.each do |s| %>

        <div class="col m8">
          <%= link_to "#{s.assignment.title}", feedback_path %>
        </div>
        <div class="col m3">
          <%= s.feedback.score %>
        </div>
       <% end %>
    <% end %>
  </div>
</div>
