<!DOCTYPE html>
<html>
  <head>
    <title>Tasc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- The best place for this one is your <HEAD> tag -->
    <script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
    <script src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js" charset="utf-8"></script>

    <!-- This is where the widget will be. Don't forget the name attribute! -->
    <input type="hidden" role="uploadcare-uploader" name="my_file" />
  </head>

  <body>
    <%= link_to "TASC", root_path, class: "brand-logo logo center" %>
    <% flash.each do |name, msg| %>
      <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
     </p>
    <% end %>
    <%= yield %>
  </body>
</html>
