<!DOCTYPE html>
<html>
  <head>
    <title>Tasc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- The best place for this one is your <HEAD> tag -->
    <script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
    <script src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js" charset="utf-8"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <!-- Navbar -->
    <nav id="navbar">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp;TASC</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_student %>
            <li><%= link_to "#{current_student.first_name}", student_path(current_student) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <% if current_student.courses.count > 1 %>
              <li><a class="dropdown-button" data-activates="dropdown1">Course<i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
              <li><%=link_to "Course", course_path(current_student.courses[0]) %></li>
            <% end %>
          <% elsif current_teacher %>
            <li><%= link_to "#{current_teacher.first_name}", teacher_path(current_teacher) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <% if current_teacher.courses.count > 1 %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Course<i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
              <li><%=link_to "Course", course_path(current_teacher.courses[0]) %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign Up", new_student_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
          <li><a data-activates="slide-out" class="menu-toggle"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>

    <!-- Dropdown for Nav -->
    <% if current_teacher || current_student %>
      <% user = current_teacher || current_student %>
      <ul id="dropdown1" class="dropdown-content">
        <% user.courses.each do |c| %>
          <li><%=link_to "#{c.number}", course_path(c)%></li>
        <% end %>
      </ul>
    <% end %>


    <!-- Flash Messages -->
    <% flash.each do |name, msg| %>
      <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
     </p>
    <% end %>
    <%= yield %>
  </body>
</html>
