<!DOCTYPE html>
<html>
  <head>
    <title>Tasc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- The best place for this one is your <HEAD> tag -->
    <script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
    <script src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js" charset="utf-8"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <nav id="navbar">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp;TASC</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_student %>
            <li><%= link_to "#{current_student.first_name}", student_path(current_student) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% elsif current_teacher %>
            <li><%= link_to "#{current_teacher.first_name}", teacher_path(current_teacher) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_student_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
          <li><a data-activates="slide-out" class="menu-toggle"><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
     </p>
    <% end %>
    <ul id="slide-out" class="side-nav right">
        <li><div class="userView">
          <div class="background">
            <img src="/student.png">
          </div>
          <%= link_to "", student_path(Student.first), :src => 'http://tctc.axstudent.com/images/CrsCat10v2z74006.jpg', :class => "circle" %>
          <!-- <a href=""><img class="circle" src="images/yuna.jpg"></a> -->
          <%= link_to "Shiv Gogna", student_path(Student.first), :class =>"white-text name" %>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>

        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
    <%= yield %>
  </body>
</html>
